*{
    /*defaults*/
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.header {
    background-color: #909AB9;
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 1;
}
.headerName {
    font-family:  Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    font-size: 7vmin;
    font-weight: lighter;
    color: white;
    position: absolute;
    margin: 0px 5vmin;
    top: 50%;
    transform: translate(0,-50%);
}
.headerButton {
    font-family:  Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    font-weight: lighter;
    text-decoration: none;
    font-size: 4vmin;
    color: white;
    position: relative;
    display: inline-block;
    margin: 0 8vmin 0 0;
    float: right;
    height: 100%;
    max-width: 10vmin;

}
@media (max-width: 600px){
    .headerButton{
        font-size: 3vmin;
         margin: 0 4vmin 0 0;
    }
}
a {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    color: inherit;
}
.headerButtonContainer {
    position: absolute;
    top: 50%;
    height: 4.5vmin;
    width: 100%;
    transform: translate(0,-50%);
}
body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: white;
    overflow-x: hidden;
	/*background: url("me-sitting.jpg")no-repeat 50% 50%;*/
}
.body{
    position: absolute;
    top: 10vh;
    width: 100%;
    display: inline-block;
    min-height: 90vh;
}

.bodyPicture {
    border: .5vmin solid #B2BCDB;
    border-radius: 30vmin;
    margin: 3vmin auto;
    padding: .4%;
    display: block;
    width: 40vmin;

}

.about{
	position: relative;
	/*max-width: 500px;*/
	margin: 0 auto;
}
.about h1{
	text-align: left;
	font-weight: lighter;
    color: #909AB9;
    /*color: #5158BB;*/
    /*font-style: italic;*/
    font-family: Helvetica;
    /*font-family: Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;*/
    font-size: 1.5vw;
    margin: 0 17% 0;
   /* text-align: center;
    max-width: 450px;*/
}

@media (max-width: 600px){
    .about h1{
        font-size: 3vw;
         margin: 0 5% 0;
    }
}

.sectionName {
    text-align: center;
    /*transform: translate(-5%,0);*/
    color: #38928F;
    /*color: #EB4B98;*/
    font-weight: lighter;
    top: 10%;
    width: 100%;
    font-family:  Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    font-size: 5vw;
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 25px;
}
@media (max-width: 600px){
    .sectionName{
        margin-top: 10px;
        font-size: 10vw;
    }
}
.projNames{
	text-align: center;
    color: black;
    top: 10%;
    width: 100%;
    font-family: 'Verdana', 'Geneva', sans-serif;
    font-size: 5vw;
    margin: 0px;
}


.dropdown-content {
	display: none;
    position: absolute;
  	left: 50%;
  	background-color: white; /*color of dropdownbox*/
  	/* bring your own prefixes */
  	transform: translate(-50%,10%);

    border: 2px solid #38928F;
    border-radius: 5px;
    /*min-width: 160px;*/
    max-width: 160px;
    z-index: 1;
    font-size: 1vw;
   	padding: 12px 12px;
}
.dropdown-content:after, .dropdown-content:before {
	bottom: 100%;
	left: 50%;
	border: solid ;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.dropdown-content:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.dropdown-content:before {
	border-color: rgba(56, 146, 143, 0);
	border-bottom-color: #38928F;
	border-width: 13px;
	margin-left: -13px;
}


.dropdown{
	margin: 20px 40% 0;
	text-align: center;
	font-family: Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
	color: #909AB9;
	font-weight: lighter;
	font-size: 2vw;
}

@media (max-width: 600px){
    .dropdown{
        font-size: 6vw;
         margin: 20px 0  0;
    }
}


.dropdown-content a {
    padding: 12px 100px;
    text-decoration: underline;
    display: block;
    z-index: 1;
   	font-size: 12px;
}

/*a.proj:hover, a.km:active {color: #FEB100;}
.dropdown-content a:hover {background-color: pink;}*/

.dropdown:hover .dropdown-content {display: block;}

.photoGrid{
    /*margin-left: 25%;*/
}
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: center;
    /*transform: translate(18%,0);*/
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 40%; /* IE10 */
    flex: 40%;
    max-width: 16%;
    padding: 0 10px;/*margin between columns*/
    /*margin: 0 auto;*/
}

.column img {
    margin-top: 20px; /*margin between rows*/
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
footer{
    margin: 5% 0 0 0;
}
footer, p{
    font-family:  Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    font-weight: lighter;
    color: #646464;
    margin: 2% 0 1%;

}
.footer-link-containers {
    position: absolute;
    height: 4.5vmin;
    width: 100%;
    padding: 0% 25% 3%;
    
}
.links{

   font-family:  Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    font-size: 2vmin;
    color: #38928F;
    position: relative;
    display: inline-block;
    margin: 0 3vmin 0 0;
    height: 100%;
    max-width: 10vmin;
}
.icons{
  height: 25px;
}