*{
    /*defaults*/
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.header {
    background-color: #909AB9;
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 1;
}
.headerName {
    font-family:  Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    font-size: 7vmin;
    font-weight: lighter;
    color: white;
    position: absolute;
    margin: 0px 5vmin;
    top: 50%;
    transform: translate(0,-50%);
}
.headerButton {
    font-family:  Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    font-weight: lighter;
    text-decoration: none;
    font-size: 4vmin;
    color: white;
    position: relative;
    display: inline-block;
    margin: 0 8vmin 0 0;
    float: right;
    height: 100%;
    max-width: 10vmin;

}
@media (max-width: 600px){
    .headerButton{
        font-size: 3vmin;
         margin: 0 4vmin 0 0;
    }
}
a {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    color: inherit;
}
.headerButtonContainer {
    position: absolute;
    top: 50%;
    height: 4.5vmin;
    width: 100%;
    transform: translate(0,-50%);
}
body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: white;
    overflow-x: hidden;
	/*background: url("me-sitting.jpg")no-repeat 50% 50%;*/
}
.body{
    position: absolute;
    top: 10vh;
    width: 100%;
    display: inline-block;
    min-height: 90vh;
}
.headerTagContainer{
    position: relative;
    margin: 1% 17% 1%;
}

.headerTags {
    font-family:  Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    font-weight: lighter;
    font-size: 3vmin;
    color: #38928F;
    height: 30px;
    width: 100px;
    margin: 0  auto;
    padding-top: 1%;
    padding: 0 20px;
    display: inline-block;
}
.blogPrevContainer{
    padding: 1% 15%;
    text-align: left;
}
@media (max-width: 600px){
    .blogPrevContainer{
        padding: 3% 3% 0;
    }
}
.blogPrev{
    margin: 0 auto;
    padding: 0 7%;
    border: 1px solid #D6D6D6;
    border-radius: 14px;
    max-height: 300px;
}
@media (max-width: 600px){
    .blogPrev{
        padding: 0 2%;
    }
}
.entryHeader h1{
    margin: 3% 0 0 0;
    padding: 0 auto;
    text-align: left;
    font-weight: lighter;
    color: #FEB100;
    font-family: Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    font-size: 4vw;
}
/*@media(max-width: 600px){
    .entryHeader h1{
        margin: 3% 0 0;
    }
}*/
.entryDatePublished{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 3%;
    color: #b3b3b1;
}

.entryText{
    text-align: left;
    color: black;
    font-family: sans-serif;
    font-weight: lighter;
    padding: 15px 0 20px;
    font-size: 1.2vw;
    line-height: 1.6;
    margin: 1% 0 0;
}

@media(max-width: 600px){
    .entryText{
        font-size: 3vw;
        margin: 0 0 0;
        padding: 0 0 10px;
    }
}

.photoGrid{
    /*margin-left: 25%;*/
}
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: center;
    /*transform: translate(18%,0);*/
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 40%; /* IE10 */
    flex: 40%;
    max-width: 45%;
    padding: 0 10px;/*margin between columns*/
    /*margin: 0 auto;*/
}

.column img {
    margin-top: 20px; /*margin between rows*/
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
footer{
    margin: 5% 0 0 0;
}
footer, p{
    font-family:  Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    font-weight: lighter;
    color: #646464;
    margin: 2% 0 1%;

}
.footer-link-containers {
    position: absolute;
    height: 4.5vmin;
    width: 100%;
    padding: 0% 25% 3%;
    
}
.links{

   font-family:  Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    font-size: 2vmin;
    color: #38928F;
    position: relative;
    display: inline-block;
    margin: 0 3vmin 0 0;
    height: 100%;
    max-width: 10vmin;
}
.icons{
  height: 25px;
}